/* Nav */

.Navigation {
  background: #ddd;
}

.Navigation img.brand {
  width: 32px;
  margin-right: 4px;
}

#boards-dropdown {
  max-height: 384px;
  overflow-y: auto;
}


/* Lists */

.List {
  border-radius: 4px;
  background: #eee;
  padding: 16px;
}


/* Cards */

.Card h4 {
  margin-bottom: 0;
}
